.home {
  .hero-img{
    margin: 0 auto;
    width: 100%;
    @media @mobile{
      width:80%
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile{
      .flex(column,space-between,center)

     }

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @mobile{
        width: 80%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media @mobile{
        width: 80%;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media @mobile{
      .flex(column-reverse,space-between,center)
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
      @media @mobile{
        width: 80%;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      @media @mobile{
        width: 80%;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    @media @mobile{
      width:80%;
      
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    @media @mobile{
      .flex(column,space-evenly,baseline);
     
     
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      padding-left: 2%;
      @media @mobile{
        width: 80%;
        margin: 4% auto;
        button{
          text-align: center;
        }
      }
    }
  }
  
}// home

header{
  border-bottom: darkgray dashed 2px;
  padding: 1%;
  .head-parent{
    margin: 0 auto;
    width:40%;
    @media @mobile{
      .flex(column,space-between,center);
      width:70%;
    }

    .flex(row,space-between,center);

    
  }
  .logo{
    width:30%;
    @media @mobile{
      width:100%;
      text-align: center;
    }
  }
 
}